* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header > h1 {
    text-align: center;
}

form { 
    margin: 0 auto; 
    width:250px;
}

form input {
    outline: none;
}


form p {
    position: relative;
    top: 30px;
    transform: translateX(-10%)
}